html {
    background: url(/Labb5/bilder/back1.jpg) no-repeat center center fixed;
    background-size: cover;
    min-height: 100%;

}

header {
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
}

.back1 {
    min-width: 100%;
    min-height: 100%;
}